#user, userpass, allow user weak pass
d-i passwd/user-fullname string vagrant
d-i passwd/username string vagrant
d-i passwd/user-password string vagrant
d-i passwd/user-password-again string vagrant
d-i user-setup/allow-password-weak boolean true
d-i user-setup/encrypt-home boolean false
#tastatur
#d-i keyboard-configuration/layoutcode string de
d-i keyboard-configuration/layout select German
#d-i keyobard-configuration/modelcode string pc105
d-i keyboard-configuration/variant select German
d-i keyboard-configuration/xkb-keymap select de
#timezone =Europe/Berlin
d-i time/zone string Europe/Berlin
#part geführt
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
d-i partman-auto/method string lvm
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman-lvm/device_remove_lvm boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
#apt-proxy
#d-i mirror/http/proxy string
#d-i mirror/http/proxy string http://10.28.128.13:8080
#Sicherheitsaktualisierungen installieren?
d-i pkgsel/update-policy select none
#Sprachunterstützung herunterladen? (ist true nicht besser?)
d-i pkgsel/install-language-support boolean true
#weitere packages
d-i pkgsel/include string openssh-server
# Oder: d-i pkgsel/include string build-essential ssh
d-i pkgsel/upgrade select none
tasksel tasksel/first multiselect
# Oder: tasksel tasksel/first multiselect minimal
#Software (aptitude): basic, openssh,
#grub mbr?
d-i grub-installer/only_debian boolean true
#systemzeit utc?
d-i clock-setup/utc boolean true
#neustart?
d-i finish-install/reboot_in_progress note
